
<header>
  <h1>Stock Provider</h1>
  <p>Request stocks for online, store and wholesale!</p>
</header>

<section class="main-login">

<form class="login-container">
  <h2>Login</h2>
  <div class="single-input">
  <input type="text" placeholder="name" name="username" required>
  </div>
  <div class="single-input">
  <input type="password" placeholder="password" name="password" required>
  </div>
  <a href="/search">Go!</a>
</form>

</section>
